.meracalci{
    align-items: center;
    text-align: center;
    border:1px solid black;
    background-color:black;
    /* text-align: center; */
    position: absolute;
    left: 20vw;
    top: 5vw;
    width: 35vw;
    height: 38vw;
    border-spacing: 15px;
}
#outputfield{
    width: 30vw;
    height: 5vw;
    background-color: 	hsl(135, 100%, 75%);
    border: none;
    font-size: 40px;
}
.apnatext {
  
 
  font-size: 30px;
 

align-items: center;
border-radius: 20%;
height: 3.5vw;

}
.apnatext input{
    /* background-color: darkgray; */
    border: none;
   
    font-weight: bold;
    height: 50px;
    width: 100%;
    height: 100%;
    border-radius: 20%;
}
.apnatext:hover{
   
    background-color: wheat;

}
 /* .meracalci td{
      background-color:; 
 }  */
 #equal{
     height: 119px;
 }

/* @media(max-width:400px){
    .meracalci{
        top:100px;
        left: 20px;

    }
} */
