.meracalci{
    align-items: center;
    text-align: center;
    border:1px solid black;
    background-color:black;
    /* text-align: center; */
    position: absolute;
    left: 25vw;
    top: 1vw;
    width: 50vw;
    height: 45vw;
    border-spacing: 15px;
}
#outputfield{
    width: 45vw;
    height: 7vw;
    background-color: 	hsl(135, 100%, 75%);
    border: none;
    font-size: 40px;
}
.apnatext {
  
 
  
 

align-items: center;
border-radius: 20%;
height: 4vw;
width: 50px;

}
.apnatext input{
    /* background-color: darkgray; */
    border: none;
    font-size: 25px;
    font-weight: bold;
    /* height: 50px; */
    width: 90%;
    height: 100%;
    border-radius: 20%;
}
.apnatext input:hover{
   
    background-color: wheat;

}

 #equal{
     height: 125px;
 }
 

